[2016-02-22 10:39] simon3z opened #23 "Metrics client lib has a too generic name (not in hawkular scope)"
To include the hawkular metrics client at the moment we use:

    require 'metrics/metrics_client'

Since `metrics` is a generic term, I think this should be scoped instead with the `hawkular` name, e.g.:

    require 'hawkular/metrics_client'

cc @pilhuhn @abonas @fryguy

[2016-02-24 22:24] Fryguy commented on #23
Yeah, the common pattern for gems is to have (omitting extra folders for brevity) the following.  Note that the file name path generally matches the class being implemented...e.g. lib/hawkular/metrics/nested_class_under_metrics.rb implements Hawkular::Metrics::NestedClassUnderMetrics.

[code]

When a gem is detected, the lib directory is put on the $LOAD_PATH.  So, it's expected that the user will

[2016-03-20 19:27] pilhuhn opened #35 "Unify the clients"
Currently we have inventoryclient, metricsclient, alertclient and so on, where the user needs to instantiate each client separately.

We need to have one hawkular-client that the gets the base path of hawkular and/or the metrics server and which then internally creates those client objects so that the user can do something like

[code]
and so on.

[2016-03-23 07:51] pilhuhn opened #38 "Rewrite get_data"
As discussed in #36 the current impl's set of parameters is overloaded and we should rewrite to pass all optional params in a hash.

[2016-03-23 07:58] pilhuhn opened #39 "Update Changelog for 0.2.1"
We need to update the changelog to contain pointers to all the work that went into the release
@pilhuhn
@Jiri-Kremser
@jshaughn
@lucasponce

[2016-03-23 07:59] pilhuhn opened #40 "Update Changelog for 1.0.0"
We need to update the Changelog file with the changes.
Especially api-changes need to be made explicit

[2016-03-23 08:03] pilhuhn opened #41 "Add offline tests for websockets"
Websockets are currently not offline-tested as VCR can't do that.

[2016-03-23 08:05] pilhuhn opened #42 "Use only one websocket for all 'clients'"
We now have websocket support in several places.
They should all be set up from the credentials passed to the unified client.

Only a single websocket should be setup between Hawkular server and the client gem and should
be (re)used by all the communication.

[2016-03-24 15:51] pilhuhn commented on #41
Done via #44

[2016-03-24 15:51] #41 closed

[2016-03-24 15:53] #39 closed

[2016-04-06 11:55] #23 closed

[2016-04-06 11:55] #35 closed

[2016-04-06 22:00] simon3z commented on #23
@pilhuhn remember that this probably has repercussion on how we're using this gem for collecting metrics for OpenShift in ManageIQ. Let me know when you update the gem there so we can check if everything is in order.

[2016-04-13 10:01] abonas commented on #38
while at it, I recommend renaming it to simply 'data' per ruby conventions. (the get/set_X is less popular in ruby)

[2016-04-13 10:02] abonas opened #50 "add documentation/basic usage examples for the client in the readme"

[2016-04-13 10:29] abonas opened #51 "add to travis.yml running with ruby 2.3 as well"

[2016-04-17 10:42] pilhuhn opened #52 "Add functionality to list operations definitions in inventory"
Allow to find operations/operation definitions for a resource (type?) in inventory

[2016-04-18 18:48] pilhuhn opened #53 "Make metrics aware of HWKMETRICS-24"
HWKMETRICS-24 makes (incompatible) changes to some metrics endpoints.
The old endpoints still exist for a while, but will go away.

We may check if h-metrics has a working version endpoint and
then decide which endpoint to call according to the version.

[2016-04-19 20:38] Jiri-Kremser opened #54 "Inventory client - list_metrics_for_resource doesn't work for nested resources"
https://github.com/hawkular/hawkular-client-ruby/blob/master/lib/hawkular/inventory/inventory_api.rb#L261

the implementation takes a resource hash as a parameter and then escapes it's id, but it doesn't honor the resource ids of parent resources

[2016-04-20 12:01] pilhuhn commented on #54
This needs to go in to 0.2.2 and 0.3

[2016-04-21 15:01] jkremser commented on #54
Fix for `0.2.x` is in the [0.2.x](https://github.com/hawkular/hawkular-client-ruby/tree/0.2.x) branch and fix for 0.3.0 is addressed by PR #55

[2016-04-21 15:53] jkremser commented on #51
I'd wait with this issue till it is supported by travis. Or the version of rvm travis uses.

[code]

source: https://travis-ci.org/Jiri-Kremser/simple-websocket-vcr/jobs/124789533#L119

[2016-04-21 15:56] abonas commented on #51
imo it's better to add it as 2.3.0 (that works) to be compliant with miq who test themselves with 2.3.0 as well. the travis issue is known and reported, pls see here https://github.com/abonas/kubeclient/pull/148

[2016-04-21 15:59] jkremser commented on #51
Right, you are correct, I just find it out here http://rubies.travis-ci.org for Ubuntu 12.04 the 2.3.0 should be there

[2016-04-21 16:42] abonas commented on #51
:+1:

[2016-04-25 09:17] #54 closed

[2016-04-25 10:26] abonas commented on #54
@pilhuhn @Jiri-Kremser could you please explain the various versions/branches that you are managing for the gem? why is it not just released sequentially from the gem's master?

[2016-04-25 10:31] pilhuhn commented on #54
On 25 Apr 2016, at 12:26, abonas wrote:

Gem's master has/will have incompatible changes.
0.2.2 was needed as some inventory related things were done wrong.

[2016-04-25 10:41] abonas commented on #54
@pilhuhn afaik for incompatible changes, there's a need for a major version change.
e.g. X.Y.Z -> the X has to change.
please see here:
http://guides.rubygems.org/patterns/#semantic-versioning

[2016-04-25 12:09] jkremser commented on #54
@abonas sure, we try to be compliant with the sem-ver. But we needed to fix the issue also for the pre 0.2.x versions. While master was already on 0.3.0.

I was wondering if this is a good thing to have the version set to `0.3.0` even though the `0.3.0` hasn't been released yet. So it's like 0.3.0-SNAPSHOT from maven rather than real 0.3.0

[2016-04-25 12:12] abonas commented on #54
Where do you want to set the version to 0.3.0? on master? from my experience - less common.
typically you would have several commits merged to master, then change the version and immediately release the gem.  btw I hope you are releasing by (just faster than doing that via gem commands)
`rake build & rake release`

[2016-04-25 12:13] abonas commented on #54
and also, if the planned 0.3.0 is backwards incompatible, then it should be something like 1.0 and not 0.3.0.

[2016-04-25 12:20] jkremser commented on #54
cool, I like it more, but when I started working on `hawkular-client-ruby` the first was the case, so I used the same methodology.

Well, that's questionable, because the way semantic versioning works in Ruby is ... ehm, "special" :) Because it doesn't work the same way as commonly used http://semver.org in 1 particular case.

`0.y.z`

 Ruby says the every breaking change should enforce the major+

[2016-04-25 12:30] abonas commented on #54
imo since this is a Ruby gem, it lives in "Ruby land" and is published on rubygems, the Ruby gem versioning rules should be applied. Understanding its versioning by other Ruby developers will be most likely done by Ruby ver rules and not other rules.

[2016-04-27 09:49] pilhuhn opened #58 "Catch html auth failures and return sensible values to the caller"
If you run

[code]

Then you will see that the exception on console is some html crap from WF, that does not honor the supplied accept header.

We need to catch that and return something that makes sense.
Similar if we run in a connection exception (wrong port, host unreachable, ... )

See https://github.com/ManageIQ/manageiq/issues/8239

[2016-04-27 10:36] jkremser commented on #58
right, it can be replicated also with curl

[code]

It's probably Keycloak, not the inventory itself, I can look into it. Other option would be to have some kind of interceptor in the ruby gem layer.

[2016-05-09 11:59] jkremser commented on #38
I was looking into it and it is actually using hash. There is a difference between

[code]

and

[code]

Both methods takes the id as a first param. The difference here is that the second method can accept optional parameters, but it's an ordered list, so if I wan't to specify, say, `buckets`, but don't want to specify anything else, I have no way to do that.

The second signature is different, th

[2016-05-09 12:17] jkremser commented on #42
I've actually done it for operations here https://git.io/vrezU I forgot to close this issue.

note: The inventory can have also the websocket connection to listen on the inventory events, but this connection can't be shared with the connection for the operations, because there is a different endpoint for it on the Hawkular side. The connections for the inventory events can't be easily shared w/ th

[2016-05-09 12:17] #42 closed

[2016-05-09 12:43] jkremser commented on #51
fixed by #62

[2016-05-09 12:43] #51 closed

[2016-05-09 14:37] jkremser commented on #52
I'll add the list operations, however, not all the available operations are stored in the inventory. Currently, for WF there are: JDR, Reload, Deploy and Shutdown. But one can also, CRUD the deployments, JDBC datasources and drivers (these are not listed in inventory).

I was talking with Mazz about it and it's by design.

[code]

Oh, and there is also related JIRA on the inventory side: https://i

[2016-05-09 14:56] pilhuhn commented on #52
I don't think this is right @jmazzitelli - why do we have Inventory when it is not used?
There may be many agents or uses of the current Hawkular-agent in the future where we can't know in advance what operations are available or not.
And then when you expect that someone writes a very specific UI per operation, you may be right, that the user needs to know the peculiarities of each operation. And

[2016-05-09 15:30] jmazzitelli commented on #52
The Hawkular WildFly Agent is not pluggable - so there is no way to add new websocket commands. The agent supports a fixed set of websocket command - these are defined here as JSON schemas: https://github.com/hawkular/hawkular-command-gateway/tree/master/hawkular-command-gateway-api/src/main/resources/schema

So this means the agent can support things like "Deploy Application" and "Add Datasource"

[2016-05-09 16:38] jkremser commented on #38
Oh, and it's Ruby 2+ feature, but it shouldn't be the issue (https://robots.thoughtbot.com/ruby-2-keyword-arguments)

[2016-05-09 18:10] Jiri-Kremser opened #64 "Rewrite the inventory client to use the canonical path whenever it's possible"
A lot of methods takes the `feed_id` as argument, this can be obtained from the path.

here is the list:

[code]

[2016-05-10 06:34] pilhuhn commented on #38
So I hear you saying @Jiri-Kremser this is no issue and already works? If so, could you add some tests please that use this alternate style to make sure it continues to work in the future?

[2016-05-10 08:13] jkremser commented on #38
this was the original:

[code]

and this is the new version:

[code]

(https://github.com/hawkular/hawkular-client-ruby/pull/36/files#diff-a9c2c337e0e2e8129b0179df69635862L119)

This is not a breaking change. I think, it's well tested (https://git.io/vrJIm) but I can add a case for `get_data` being called with all the possible arguments.

[2016-05-10 10:23] jkremser commented on #38
#65

[2016-05-10 11:56] pilhuhn commented on #52
I was certainly not talking about DMR operations, but the ones that are sent like 'Add Datasource' or 'Reload'.
Speaking of confusion the Reload vs reload thing started this a long time ago :-)

With your logic, there is also no need to register metrics in inventory, because its crazy form can be deducted from the MR~bla pattern and everyone working with Hawkular knows that some WildFly-foo-time i

[2016-05-10 12:44] jmazzitelli commented on #52
I can certainly add those websocket operations as <operations> metadata, but of course this means the client (the one looking up the operations metadata in inventory) will need to say to himself "If i want to execute the "Start" or "Stop" or "Reload" operation, I need to do so by passing in that name via ExecuteOperationRequest JSON. But if I want to execute the "Add Datasource" operation, I need

[2016-05-10 13:22] pilhuhn commented on #38
@abonas "So what about the get_data -> data renaming, does it worth to break the api?"

[2016-05-10 15:38] jkremser commented on #52
It should be possible to store any JSON metadata with the operation type in the inventory. I can't 100% confirm, because the api is currently broken, but from what I've seen in the tests, it should be doable - https://git.io/vrUcq . @metlos can you please correct me if I am wrong?

JSON schema is good and we can store it actually in the inventory too as some kind of contract definitions, or store

[2016-05-11 10:13] metlos commented on #52
First, I'd like to point out that inventory currently stores operation **definitions** - that is what the operations should look like, not the actual individual invocations. The definition includes operation name, the parameter types and the expected return type. The latter two are specified using a json schema(1 schema for the parameters and 1 schema for the return type), so yes, you can encode q

[2016-05-11 11:07] pilhuhn commented on #52
@metlos It clearly says "operation definitions" in the subject - doesn't it? :-) (Which what I meant, but was to sloppy to correctly articulate in the first place).

@jmazzitelli Why can't we just add the targeted schema then? I think the information in inventory should be self-contained enough to figure out what is needed and returned. Looks like we are close.

[2016-05-11 13:12] jmazzitelli commented on #52
So this doesn't get lost, can someone write a HWKAGENT JIRA ( https://issues.jboss.org/projects/HWKAGENT/issues ) on this explaining what it is we'd like to see in the inventory metadata?

[2016-05-11 13:28] abonas commented on #38
@pilhuhn regarding breaking the api - it depends how many users the ruby client has. if only 1 and we know who, and it's one place to rename - I'd go ahead and rename it.
in any case there's also an option to do "alias_method" and document the "new" method name, that won't break a thing.

[2016-05-11 14:06] metlos commented on #52
Done - https://issues.jboss.org/projects/HWKAGENT/issues/HWKAGENT-87

[2016-05-12 15:30] #64 closed

[2016-05-13 09:16] pilhuhn commented on #52
Implemented in #63

[2016-05-13 09:16] #52 closed

[2016-05-13 09:18] pilhuhn commented on #40
Done in #68

[2016-05-13 09:18] #40 closed

[2016-05-13 09:19] pilhuhn commented on #58
Let's leave this open for the moment and revisit once Hawkular-services has transitioned to use JAAS

[2016-05-13 09:23] jpkrohling commented on #58
This is not Keycloak-specific, this is returned by Wildfly itself. So, this will still be true for a JAAS scenario. Ideally, the party making the HTTP call would check the HTTP status code before trying to parse the response body.

[2016-05-13 14:58] Jiri-Kremser opened #69 "Metric client in version 1.0.0 doesn't work with metrics 0.13.0.Final - tenant header"
[code]

[2016-06-21 11:33] Jiri-Kremser opened #78 "Move the HawkularUtilsMixin under the Hawkular module"
`::HawkularUtilsMixin` -> `::Hawkular::HawkularUtilsMixin`

[2016-06-25 07:24] pilhuhn opened #79 "Operations: callback not always called"
Suppose I pass in an incorrect parameter hash for `invoke_generic_operation`, the callback is not called, but the method bails out with a 'fail':

[code]

I think the user would only expect this if no callback is defined at all.

[2016-06-25 07:33] pilhuhn opened #80 "Operations: using an invalid host has a very long timeout"
Suppose I somehow supply a bad host to the WS-client

[code]
then the connect will hang for around a minute.

I am not sure though if it is possible to specify a shorter timeout for the connection setup.

[2016-06-25 07:39] pilhuhn opened #81 "Remove all defaulting to localhost / port 8080"
We have several places in the code where we default to localhost:8080 if no input value is given.
E.g.

OperationsClient:initialize:
[code]

Now if the calling code does not supply the `:host`, we use the default, which means that the caller does not get an indication that it did something wrong. Later in production (or Demos :-) the code silently fails with obscure error messages.

[2016-06-28 14:31] pilhuhn opened #84 "Modify Gem to either use new inventory or different context of old one"
Hawkular-inventory has a new api
and has moved with 0.17 the endpoint of the old api to `/deprecated`

We need to either support the `/deprecated` endpoint for a while
or directly the new one

There is /status to get the version of inventory. If it is 0.17+ it is the `/deprecated` one

[2016-06-28 14:36] pilhuhn opened #85 "In operations it looks like always the error-callback is called, even on success"
When I run in MiQ an operation on the Hawkular-server, which runs successfully, the error callback is still called for the response. See this debugger output

![bildschirmfoto 2016-06-28 um 15 18 42](https://cloud.githubusercontent.com/assets/208246/16419522/53898b1a-3d4e-11e6-9dbd-a60ce6dc0665.png)

[2016-06-28 17:54] ammendonca opened #86 "Add deployment operation always sets enabled to true"
When adding a deployment it is always set to be enabled, even if the enabled field is set to false.

[2016-06-29 07:44] pilhuhn commented on #85
I can't reproduce this. I will reopen if necessary.

[2016-06-30 09:29] pilhuhn opened #92 "Availability endpoint get_data has no 'distinct' parameter"
Availability has a parameter to only return distinct values
See https://github.com/hawkular/hawkular-metrics/blob/0.8.2/api/metrics-api-jaxrs/src/main/java/org/hawkular/metrics/api/jaxrs/handler/AvailabilityHandler.java#L243

this should be reflected in the availability part of metrics-sub-client

Also it has no percentiles.

// cc @simon3z

[2016-06-30 11:53] yaacov commented on #50
Do we have an example of the right way to read metrics ?

cc @pilhuhn

[2016-06-30 15:48] josejulio opened #93 "Remove Token API"
The Token API (tokens_api) seems to be gone. We should remove it from the client.

josejulio: Does secret-store/v1/tokens endpoint still exists?
pilhuhn: don't think so
pilhuhn: the whole token thing went away when we moved to hawkular-services with the deployment

// cc @pilhuhn

[2016-06-30 16:17] simon3z commented on #92
cc @yaacov

[2016-07-01 06:48] #92 closed

[2016-07-01 06:49] #50 closed

[2016-07-01 10:13] pilhuhn commented on #92
See also https://issues.jboss.org/browse/HWKMETRICS-428

[2016-07-01 10:35] pilhuhn opened #96 "Add support for HWKMETRICS-420"
See https://issues.jboss.org/browse/HWKMETRICS-420

This adds 'admin' availability type. Also sub-state may be represented via tags on the data points, the client needs to be able to retrieve them as well.

Also the availability bucket query now returns that new field + 'unknown' See
https://github.com/hawkular/hawkular-metrics/pull/522

[2016-07-01 10:35] pilhuhn commented on #96
cc @yaacov

[2016-07-01 14:14] rubenvp8510 commented on #80
as far as I saw, there is no way to specify a timeout, we are using this gem: websocket-client-simple    which inside use TCPSocket for the connection[1], that class doesn't seem to have a timeout option[2].

1) https://github.com/shokai/websocket-client-simple/blob/master/lib/websocket-client-simple/client.rb#L20
2) http://ruby-doc.org/stdlib-2.0.0/libdoc/socket/rdoc/TCPSocket.html

[2016-07-01 15:00] #86 closed

[2016-07-01 15:05] #81 closed

[2016-07-04 13:15] abonas opened #101 "Readme contains broken links to documentation"
the "more info" section contains several links to documentation, they seem to lead nowhere.
https://github.com/hawkular/hawkular-client-ruby#more-info

cc @josejulio

[2016-07-04 15:04] josejulio commented on #101
All the links are meant to be seen in the context of yardoc [1]. Check first link on the Readme[2]

I though it because of this other link[3] on the Changelog section[4]. Compare with the one in the documentation[2].

One way to avoid this (i think) would be to create a separate Readme.md for github.

[1] https://github.com/hawkular/hawkular-client-ruby#generate-documentation
[2] http://www.hawkul

[2016-07-04 16:35] abonas commented on #101
link in item 3 above is 404..
and it should work on github as well since many users are reading the readme there.

[2016-07-04 20:50] josejulio commented on #101
Yes, item 3 doesn't work on github but works on the Hawkular documentation[1]. I didn't do that, I just followed that behavior.
I'll check what can be done.

[1] http://www.hawkular.org/hawkular-client-ruby/

[2016-07-05 08:13] pilhuhn commented on #84
Was fixed by #98

[2016-07-05 08:13] #84 closed

[2016-07-09 13:05] pilhuhn opened #109 "Metric ID not escaped in MetricClient.update_tags"
The metric:

[code]

Exception when calling `MetricClient.update_tags`
`bad URI(is not URI?): http://localhost:8080/hawkular/metrics/gauges/MI~R~[70c798a0-6985-4f8a-a525-012d8d28e8a3/Local~~]~MT~WildFly Aggregated Web Metrics~Aggregated Active Web Sessions/tags
`
( see spaces and [ and / characters )

also potentially applies to other methods.

[2016-07-09 23:34] jmazzitelli opened #110 "when mapping inventory-metric ID to hawkular-metric ID, check if metrid-id property exists"
There is a use-case to give users some freedom and flexibility to choose what their hawkular-metric IDs look like, rather than force them to adopt the rule "inventory metric ID is always the same as hawkular metric ID".

The hawkular wildfly agent is introducing an optional "metric-id" property found on the inventory metric instance definition. When this property exists, the hawkular-metric ID is

[2016-07-12 09:31] pilhuhn opened #112 "Return a more complete operation definition from inventory"
The agent will provide parameters for operation definitions once https://github.com/hawkular/hawkular-agent/pull/229 of https://issues.jboss.org/browse/HWKAGENT-87 is merged.

We should support this and return them.

There is a branch at https://github.com/pilhuhn/hawkular-client-ruby/tree/complete-ops-definitions that has most of the code, but where the test fails with rspec (but passes from with

[2016-07-12 09:44] #58 closed

[2016-07-13 19:32] #109 closed

[2016-07-16 09:33] pilhuhn opened #116 "Another gsub does not work on URL issue"
See https://github.com/hawkular/hawkular-client-ruby/blob/master/lib/hawkular/hawkular_client.rb#L61

      Operations::OperationsClient.new(entrypoint: @state[:entrypoint].gsub(/^https?/, 'ws'),

[2016-07-17 13:57] abonas commented on #116
can you be a bit more specific what is the problem? the title is quite vague, I am kind of guessing what is not working :)
another gsub in addition to what? does not work in which way?

[2016-07-17 14:01] abonas commented on #116
regardless, do you know why `gsub` is used and not `sub`? (the latter is faster, it replaces the first occurence of the needed substring only, which in this case of protocol is reasonable)

[2016-07-18 16:47] rubenvp8510 commented on #116
I think this issue is the same we had on URL normalization method https://github.com/hawkular/hawkular-client-ruby/pull/107  when we assume the entry point is a string, but it can be a URI object also.

Is this the same case?  @pilhuhn

[2016-07-18 17:18] pilhuhn commented on #116
On 18 Jul 2016, at 18:47, Ruben Vargas wrote:

Yes

[2016-07-19 07:57] abonas commented on #116
lets say we've received here a URI. I am not sure whether uri object works at all with ws.
meaning - the user was able to actually create a uri object intended for operation with websockets?

[2016-07-19 08:41] pilhuhn commented on #116
This happens when you go

[code]

I think it is enough to modify

`Operations::OperationsClient.new(entrypoint: @state[:entrypoint].gsub(/^https?/, 'ws'),`

to

`Operations::OperationsClient.new(entrypoint: @state[:entrypoint].to_s.sub(/^https?/, 'ws'),`

We need to revisit the whole WS handling once we allow for SSL, which we don't do yet (then the operations client also needs more code internall

[2016-07-19 08:48] abonas commented on #116
I understand when it can happen code wise if you initialize the "base" client - and indeed the above example would solve it. But iiic users can also initialize directly the subclients, and then how would that be handled for operations/ws if URI is passed? (my point is that if operations client works only with websockets, supporting accepting an URI object here if it can't represent ws is incorrect

[2016-07-19 08:56] pilhuhn commented on #116
On 19 Jul 2016, at 10:48, abonas wrote:

Yes, for a direct call into the subclient, it would also need a .to_s
in its `uri = URI.parse ep` line. Usually except for metrics-only
operation
of CM, people don't call the sub-clients without the parent.
We should make that more explicit / prominent though.

the `https?` regex allows for both `http` and `https` - I think that is
ok.
We catch both and the

[2016-07-19 18:38] josejulio commented on #110
AFAIK the API doesn't do/use any inventory data to query a metric endpoint. It's left to the developer to decide how to mix inventory/metric data.

We could add this warning to the Readme or we could add the attribute `metric_id` to `Hawkular::Inventory::Metric` and set it to `metric-id` if provided or `id` if not, so the developer wouldn't need to know about this.
// cc @pilhuhn

[2016-07-19 19:51] pilhuhn commented on #110
@josejulio Yeah, I think the latter is what @jmazzitelli meant. We always populate a field with metric-id or fall back to id.
I wonder (and this is the other side of my comment on the HWKAGENT-78 jira) if we should not just return this metric-id as id if it exists or otherwise the real id.
I see a potential conflict though for this idea: what if we ever want to update the metric definition - how w

[2016-07-19 21:39] josejulio commented on #110
If is not mandatory for the developer to know the _real_ id of the inventory_metric we could manually implement the attr :id (as getId doesn't seem very ruby-ish) to return the metric_id (if available) so this change would be even more transparent.
In the other hand, if is required for the dev to know the id, replacing it isn't an option and we could have another id (metric_id or native_metric_id,

[2016-07-22 07:30] #79 closed

[2016-07-22 15:16] #116 closed

[2016-07-22 19:58] #112 closed

[2016-07-25 19:40] #53 closed

[2016-07-25 19:51] jmazzitelli commented on #110
I just commented the following in hwkagent-78, but I will post here too:

Heiko asked "why not directly set the id of the metric definition in inventory to the metric-id here?"

The reason is due to the implementation and how the MeasurementInstance objects are immutable. When the measurement instance IDs are generated, it happens as we build up the Resource using a builder API - this is when we c

[2016-08-16 10:01] pilhuhn opened #131 "List operations sometimes fails"
@jmazzitelli and I saw this fly by:

[code]

Looking at the code shows `      param_list = op_hash['properties']['params']`,
so it looks like the received entity sometimes has no properties (or worse: H-inventory sends us some empty hashes).

[2016-08-18 14:35] jmazzitelli commented on #110
Did this ever get fixed? I don't see a related PR documented here.

[2016-08-18 14:53] jmazzitelli opened #134 "get operation parameters via the official inventory way"
Inventory has an "official" way of storing operation parameters within operation types - a child of the operation type which is a data entity whose structural data is named "parameterTypes"

The Ruby client needs to get operation parameters using this mechanism, rather than the ad-hoc way we were doing it (via general properties).

The WildFly agent is creating both (the "official" way and the gen

[2016-08-18 17:33] #131 closed

[2016-08-18 17:51] josejulio commented on #110
Not yet, I've plans on doing it. But haven't setup my env to have a domain eap (and then i'll have to setup a custom metric_id template).
Do you have an environment or config handy ? I'm currently testing with SSl and don't want to do all over again before finishing.

[2016-08-25 23:09] #134 closed

[2016-09-02 18:08] lucasponce opened #141 "Add support for rates on query_stats mapping"

[2016-09-05 16:09] #141 closed

[2016-09-15 14:36] #110 closed

[2016-09-20 14:15] pilhuhn opened #144 "Support string metrics"
H-Metrics also provides metrics of type string (e.g. for log entries).
The client needs to subscribe this.

There is some work already done, but this needs tests
https://github.com/pilhuhn/hawkular-client-ruby/commit/649081f2c7dbcea958dacf419a6e92b6417cee99

[2016-09-21 22:46] #144 closed

[2016-09-29 19:02] pilhuhn opened #152 "Allow to list tags in hawkular-metrics"
curl -i -u jdoe:password -Hhawkular-tenant:hawkular http://localhost:8080/hawkular/metrics/gauges/tags/

See http://www.hawkular.org/docs/rest/rest-metrics.html#GET__metrics_tags__tags_ (but that needs a type filter). There are type-specific queries as shown above

We need to first find out what the query format is though.

key:* works to find all tags with a certain key. *:* seems not to work tho

[2016-10-06 14:19] pilhuhn opened #154 "ackBy no longer exists on alerts"
[16:16:47]  <lponce>	that seems a change on the API and the ruby-client has detected it
[16:17:04]  <jshaughn>	ys, we no longer have ackBy on the Alert
[16:17:15]  <lponce>	(at least the alerts one, the metrics one no idea)
[16:17:21]  <jshaughn>	it has been replaced with the lifecycle list

cc @jshaughn @lucasponce

[2016-10-06 17:39] pilhuhn opened #155 "Tenant handing in h-metrics 0.20 has changed"
"rspec ./spec/integration/metric_spec.rb:100 # metrics_0_16_0 NonSecure Tenants Should create and return tenant" failure

	"The first endpoint to be protected by this mechanism is /tenants since its functionality is cross tenant"

cc @yaacov - this will be a change in h-metrics for ose 3.4

[2016-10-07 16:56] josejulio commented on #154
Fixed by #156

[2016-10-07 16:56] #154 closed

[2016-10-07 19:06] #155 closed

[2016-10-12 14:54] josejulio opened #159 "Remove specs context metrics_0_16_ and leave only metric_services and metrics_0_8_0"
see https://github.com/hawkular/hawkular-client-ruby/pull/158#issuecomment-252973989 for more info

[2016-10-13 05:52] #159 closed

[2016-10-15 00:49] mtho11 opened #162 "Add Test cases for XA Datasource to Datasource Add"
I'm not sure whether XA datasources are implemented or not since there is no tests for them.

It appears from the tests that we only support non-XA datasources:
https://github.com/hawkular/hawkular-client-ruby/blob/c4ceb17761eee25eda2e36df23c2c285cc712d6f/spec/integration/operations_spec.rb#L199-L199

Regardless, please add test cases for XA and Non-XA datasources.

Reference: https://bugzilla.red

[2016-10-17 13:39] #162 closed

[2016-10-17 13:41] pilhuhn commented on #152
Implemented via #161

[2016-10-17 13:41] #152 closed

[2016-10-17 14:48] pilhuhn commented on #69
I think this is history now @Jiri-Kremser ?

[2016-10-17 15:10] jkremser commented on #69
yes, closing..

[2016-10-17 15:10] #69 closed

[2016-11-23 13:03] pilhuhn opened #174 "Add 'interval' field of alert conditions"
[13:56:08]  <pilhuhn>	lponce for the MISSING condition, the rest api talks about a field 'interval' - is that right? If so would that need a new field in the condition of the ruby client?
[13:57:21]  <lponce>	pilhuhn, yes, let me remember the API
[13:58:00]  <lponce>	pilhuhn, http://www.hawkular.org/docs/rest/rest-alerts.html#MissingCondition yes, an interval field is required

[2016-11-23 14:47] alongoldboim opened #175 "Add an option to query metrics based on tag only (regardless to type)"
[code]

will work, but i need it to work without the strings section.
cc @pilhuhn @zgalor @simon3z.

[2016-11-23 14:51] alongoldboim commented on #175
@pilhuhn @zgalor @simon3z

[2016-11-23 16:43] moolitayer opened #176 "Support for multi-tenant operations"
There are going to be cross tenant apis for alerting e.g get alerts for all tenants.
We would need to have some support for those in clients, currently created with one tenant in mind.

[2016-11-23 16:45] moolitayer commented on #176
cc @lucasponce

[2016-11-23 16:45] josejulio commented on #176
Could you elaborate a bit more?

[2016-11-23 16:57] moolitayer commented on #176
Wow that's quick, just discussed in a meeting with @lucasponce and @rubenvp8510 added description.

[2016-11-24 09:06] pilhuhn commented on #175
@rubenvp8510 Can you have a look at this? @burmanm says that this is possible in hawkular-metrics.

[2016-11-24 15:20] #174 closed

[2016-11-29 12:40] alongoldboim commented on #175
cc @simon3z @zgalor

[2016-11-30 16:54] #175 closed

[2016-12-14 21:50] pilhuhn opened #180 "@inv_client.create_resource does not return path when resource already exists"
This goes

[code]

In case of the 409, we still return a `Resource`, but constructed from the input, which does not contain the path.

The path needs to be obtained by clients like this:

[code]

We should perhaps internalise getting the path into `create_resource` to have a consistent behaviour in both cases.

[2017-01-09 21:59] #180 closed

[2017-03-15 00:47] jkremser commented on #101
The links are meant to work from the context of the  [generated yardoc](http://www.hawkular.org/hawkular-client-ruby). Unfortunately, the rdoc on github doesn't support those github directives (`ifdef::env-github[]..`) that work in adoc and markdown so we can't simple have one version for 2 purposes. Also now the documentation has to be generated and pushed to the gh-pages branch manually after th

[2017-03-15 00:54] jkremser commented on #101
Also it'd be nice to have also older docs available on the website, not only the latest ones.

Something like:
* http://www.hawkular.org/hawkular-client-ruby/2.9.0/docs
* http://www.hawkular.org/hawkular-client-ruby/2.8.0/docs
* http://www.hawkular.org/hawkular-client-ruby/latest/docs

where `latest` is in fact a symlink to the `2.9.0`, I am not sure if this works on github pages, but I can give i

[2017-03-17 18:22] mtho11 opened #200 "Add support for activesupport gem?"
I'm just reiterating @cfcosta question in irc about adding support for `activesupport`[gem](http://guides.rubyonrails.org/active_support_core_extensions.html). It sounds like a good idea to me as it will make our code more rails idiomatic.

Thoughts?

[2017-03-17 18:24] cfcosta commented on #200
I'm :+1: to that. It simplifies a lot some parts of code, and the tradeoff (having another maybe heavy dependency) is not that big imho.

[2017-03-17 19:06] josejulio commented on #200
I also think we can benefit from having that dependency. :+1:

[2017-03-17 20:34] josejulio commented on #200
Although we *might* want to wait for #196 before refactoring anything.

[2017-03-19 14:21] abonas commented on #200
I missed the beginning of the discussion - please provide some examples as to why this is beneficial to this particular gem.
Please also see an issue that we encountered in another gem which actually caused us to drop the dependency in active support.
https://github.com/abonas/kubeclient/issues/182

[2017-03-19 23:30] cfcosta commented on #200
@abonas what's our target version of Ruby (and Rails)? Enforcing 2.2.2+ seems good to me, given that it's almost 2 years old.

[2017-03-20 07:40] pilhuhn commented on #200
On 20 Mar 2017, at 0:30, Cainã Costa wrote:

I think that is fine.

[2017-03-20 07:45] pilhuhn commented on #200
While it looks like this would work also in non-Rails environments, I want to make sure it indeed does.

I would hate to lose the ability to use our client gem outside of Rails.

[2017-03-20 09:37] abonas commented on #200
Right now the gemspec [says >2.0 ](https://github.com/hawkular/hawkular-client-ruby/blob/master/hawkularclient.gemspec#L14). I don't have any objection to bump it, but in the current situation 'as is' adding activesupport will get us into an issue.
And I also would like to make sure as @pilhuhn that this will continue working in a non Rails env, although I am pretty sure it should.

[2017-03-20 15:00] cfcosta commented on #200
@pilhuhn @abonas it works just fine, activesupport is not rails-bound at all (there are some stuff used by rails, but they are only bound in the `railties` gem). Also, we do not need to require everything, just the extensions we need, like requiring `active_support/core_ext/blank` if we need `blank?`. By doing both we avoid polluting the user namespace too much and still have the niceties for ours

[2017-03-21 14:01] Jiri-Kremser opened #201 "Consider replacing the websocket-client-simple gem with the same gem that is being used in the MiQ"
By the time we added this dependency, the MiQ didn't have the support for websocket communication, they add it with migration to rails 5 (iirc). Since the `websocket-client-simple` is no longer maintained and it has other issues like failing non-deterministically on segfaults (https://travis-ci.org/hawkular/hawkular-client-ruby/jobs/213159442#L438). Also there is currently no way to process incomi

[2017-03-21 16:54] josejulio commented on #201
I agree those segfaults are a killer and really frequent. I have to restart tests almost always on PRs and even on master branch after merge.

If that lib is compatible with [ruby targets for this gem](https://github.com/hawkular/hawkular-client-ruby/blob/master/.travis.yml#L5-L6) I would say we should do it :+1:

[2017-03-21 16:57] josejulio commented on #200
[This](https://github.com/hawkular/hawkular-client-ruby/blob/master/.travis.yml#L5-L6) is what we currently test in travis.
We stopped testing against 2.0 and 2.1 in #165.

[2017-03-22 18:15] josejulio commented on #78
This is done in https://github.com/hawkular/hawkular-client-ruby/pull/184/commits/6308f477ad8273b4ac096e3189ec063875943269 and marked as deprecated in https://github.com/hawkular/hawkular-client-ruby/pull/194/commits/bfdcf48c310d61191fa14dc0ffbf53f199d8f214

[2017-03-22 18:15] #78 closed

[2017-03-23 12:38] abonas commented on #200
so lets bump the gemspec, especially if we don't test 2.0 and 2.1 anyway.
(if we don't test it, how can we support it?)

[2017-03-30 12:28] lucasponce commented on #176
The endpoints would need support from client are these ones:
http://www.hawkular.org/docs/rest/rest-alerts.html#__admin_cross_tenant_operations

[2017-04-02 11:19] moolitayer commented on #176
Specifically, the endpoint I'm using is:

[code]

[2017-04-03 08:37] lucasponce commented on #176
@josejulio @rubenvp8510 could you take a look to this one ?

[2017-04-05 22:34] #176 closed

[2017-04-25 08:33] pilhuhn opened #209 "Consider dropping support for v0.8 metrics"
Hawkular Metrics is in both OpenShift and H-Services way beyond version 0.8
I expect that there are no more installations of H-Metrics 0.8 out there.
We should remove support for it completely from the gem

CC @simon3z

[2017-04-25 10:44] abonas commented on #209
@pilhuhn what parts of the client in particular are specific to supporting 0.8?
regardless I +1 this

[2017-04-25 14:35] josejulio commented on #209
I think that there is only old cassettes that support the 0.8API and [this](https://github.com/hawkular/hawkular-client-ruby/blob/master/lib/hawkular/metrics/metrics_client.rb#L43) check that supports versions below 0.16.

[2017-04-25 14:39] pilhuhn commented on #209
Well, metrics_api checks on this in a few places like:

https://github.com/hawkular/hawkular-client-ruby/blob/master/lib/hawkular/metrics/metric_api.rb#L59

[2017-04-28 17:03] simon3z commented on #209
As far as I know currently OpenShift is using these versions:

OpenShift Version | Hawkular Version
-- | --
OpenShift 3.1 | 0.8.0
OpenShift 3.2 | 0.8.2
OpenShift 3.3 | 0.18.5
... | ...

@mwringe please keep me honest on these.

@pilhuhn for CM OpenShift 3.2 went out of the ManageIQ matrix since Jan 2017 but it seems a little early to drop the support.

When are you planning this cleanup?
(Anyway w

[2017-04-28 17:58] pilhuhn commented on #209
@simon3z I haven't planned any concrete date. More a suggestion or thought so that we don't carry this around forever.
With the speed that OpenShift is progressing, I think that everyone will be on 3.3+ pretty soon

[2017-06-27 16:58] Jiri-Kremser opened #224 "hawkular-website-bot's gh token lost the rights to push to the repo"
https://travis-ci.org/hawkular/hawkular-client-ruby/jobs/247589703#L791
..and the documentation can't be pushed

[2017-08-15 13:59] cben opened #230 "Incompatible with rest-client 2.1.0.rc1 ?"
Heads up, tests fail with upcoming rest-client 2.1.0.rc1.,

- [ ] strange error (the strange char is 0x1F "UNIT SEPARATOR").
[code]
  (I also saw this with in manageiq-providers-kubernetes tests, some hawkular-client related tests gave this.)

- [ ] lots of VCR::Errors::UnhandledHTTPRequestError

[2017-08-16 12:51] abonas commented on #230
@cfcosta please have a look

[2017-08-16 12:51] abonas commented on #230
@cben thank you for the heads up

[2017-10-11 18:22] josejulio commented on #200
Did we ever include this ?

[2020-11-05 14:44] #230 closed